.detail-icon {
    font-size: 20px;
    vertical-align: middle;
}

.name {
    font-weight: 500;
}

.info {
    margin-bottom: 10px;
}

.more-details {
    margin-top: 10px;
}

.main-details {
    display: inline-flex;
    height: 50px;
}

.badge-icon {
    font-size: xxx-large;
    margin-right: 40px;
    margin-top: -7px;
}

.item {
    display: grid;
}