.details-container {
    display: inline-flex;
    padding: 10px;
}

.detail-icon {
    vertical-align: sub;
    padding: 4px;
}

.details {
    margin: 10px;
    padding: 10px;
    background-color: #e0e0e0;
}

.roles {
    margin: 10px;
    padding: 10px;
    background-color: #e0e0e0;
}

.roles-label {
    font-weight: bolder;
}

.details-label {
    font-weight: bolder;
}