<div class="team-detail-container" *ngIf="team">
    <h2 class="mat-title">{{team.name}} Team</h2>
    <div class="details">
        <div class="team-leader">
            <mat-card color="primary" class="team-leader-card mat-elevation-z8">

                <app-employee-item [employee]="team.teamLeader"></app-employee-item>
            </mat-card>
        </div>
        <div class="members-list">
            <mat-card *ngFor="let member of team.members" class="member-card mat-elevation-z8">

                <app-employee-item [employee]="member"></app-employee-item>
            </mat-card>
        </div>
    </div>
</div>