.team-leader-card {
    display: grid;
    background: #673ab7;
    color: white;
    margin-bottom: 20px;
}

.member-card {
    margin-bottom: 10px;
    margin-top: 10px;
}

.team-leader {
    margin-top: 10px;
    margin-right: 20px;
}

.details {
    display: inline-flex;
}

.delete-button {
    margin-bottom: 20px;
}