.employees-container {
    margin: 20px;
    width: 50%;
    min-width: 400px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

table {
    min-width: 400px;
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.details {
    padding: 10px;
    display: block;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.add-button {
    margin-bottom: 20px;
    margin-top: 20px;
}

.right-column {
    width: 40%;
}