<router-outlet>

</router-outlet>
<div class="employees-container">
    <h2 class="mat-title title">
        Employees</h2>
    <div>
        <button mat-raised-button color="accent" (click)="onAdd()" class="add-button">Add new employee</button>
    </div>
    <div *ngIf="!employees">
        <p>No employees</p>
    </div>
    <table mat-table [dataSource]="employees" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let employee"> {{employee.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let employee"> {{employee.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let employee"> {{employee.email}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let employee">
                <button mat-icon-button color="primary" (click)="onEdit(employee)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="accent">
                    <mat-icon>group_add</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(employee)">
                    <mat-icon>delete</mat-icon>
                </button>

            </td>
        </ng-container>


        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let employee" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail" [@detailExpand]="employee == expandedElement ? 'expanded' : 'collapsed'">
                    <app-employee-details [employee]="employee"></app-employee-details>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let employee; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === employee" (click)="expandedElement = expandedElement === employee ? null : employee">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

</div>