<mat-toolbar color="primary">
    <h2 class="mat-title">Workspace App</h2>
    <!-- <a mat-flat-button color="primary" [routerLink]="'/employees'">Employees</a>
    <a mat-flat-button color="primary" [routerLink]="''">Teams</a> -->
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened class="side-menu" [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
        <mat-nav-list>
            <a mat-list-item matTooltip="Employees" [routerLink]="'/employees'" routerLinkActive="sidenav-active-link-item">
                <mat-icon class="link-icon">group</mat-icon>
            </a>
            <a mat-list-item matTooltip="Teams" [routerLink]="'/teams'" routerLinkActive="sidenav-active-link-item">
                <mat-icon class="link-icon">groups</mat-icon>
            </a>
            <a mat-list-item matTooltip="Pending changes" [routerLink]="'/approval'" routerLinkActive="sidenav-active-link-item">
                <mat-icon [matBadge]="changesCount" [matBadgeHidden]="changesCount === 0" matBadgeColor="warn" class="link-icon">manage_accounts</mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>