<div class="edit-container">
    <div *ngIf="editMode" class="form-title">
        <h2 class="mat-title">
            Edit existing employee</h2>
    </div>
    <div *ngIf="!editMode" class="form-title">
        <h2 class="mat-title">
            Add new employee</h2>
    </div>
    <mat-divider></mat-divider>
    <form *ngIf="employeeForm" class="employee-form mat-elevation-z8" [formGroup]="employeeForm">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input type="text" matInput formControlName="firstName">
            <mat-error *ngIf="hasError('firstName','required')">First name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input type="text" matInput formControlName="lastName">
            <mat-error *ngIf="hasError('lastName','required')">Last name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
            <mat-error *ngIf="hasError('email','required')">Email is required</mat-error>
            <mat-error *ngIf="hasError('email','email')">Email is invalid</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input type="text" matInput formControlName="phone">
            <mat-error *ngIf="hasError('phone','required')">Phone number is required</mat-error>
            <mat-error *ngIf="hasError('phone','pattern')">Phone number is invalid</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <textarea type="text" matInput rows="3" formControlName="address"></textarea>
            <mat-error *ngIf="hasError('address','required')">Address is required</mat-error>
        </mat-form-field>
        <mat-form-field class="roles-chip-list">
            <mat-label>Roles</mat-label>
            <mat-chip-list #chipList aria-label="Roles selection" formArrayName="roles">
                <mat-chip *ngFor="let role of employeeForm.get('roles')?.value " [selectable]="selectable" [removable]="removable" (removed)="remove(role)">
                    {{role | roledisplay}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="New role..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addRole($event)">
            </mat-chip-list>
        </mat-form-field>
        <div class="buttons-div">
            <button mat-raised-button color="primary" [disabled]="!employeeForm.valid" class="submit-button form-button" (click)="onSubmit()">Save</button>
            <button mat-raised-button (click)="onCancel()" class="form-button">Cancel</button>
        </div>
    </form>
</div>