        .employee-form {
            display: grid;
            padding: 20px;
            margin-top: 76px;
        }
        
        .edit-container {
            margin: 20px;
            min-width: 250px;
        }
        
        .buttons-div {
            margin-top: 20px;
        }
        
        .submit-button {
            margin-right: 10px;
        }
        
        .form-button {
            width: 100px;
            margin-bottom: 10px;
        }